/* FONTS ----------------------------------------
font-family: 'Righteous', cursive;
font-family: 'Antic Slab', serif;
*/

* {
  background-origin: border-box;
}

html {
  font-family: 'Antic Slab', serif;
  font-size: 10px;
  background-color: #F2F2F2;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.nav-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;  
  margin: 4rem;
}

.logo {
  align-self: center;
  justify-self: center;
}

.form {
  padding-top: 3rem;
}

.form input{
  font-family: 'Antic Slab', serif;
  text-align: center;
  font-size: 1.75rem;
  min-width: 10rem;
  width: 80%;
  height: auto;
  margin:0 auto 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 5px #734002;
}

input::placeholder {
  font-family: 'Antic Slab', serif;
  font-size: 1.75rem;
  text-align: center;
}

.form button {
  background-color: #D3D9BF;
  min-width: 12rem; 
  width: 15rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 5px #858C74;
}

.total-box {
  background-color: #734002;
  color: #F2F2F2;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  align-self: center;
  border-radius: 50%;
}

.balance {
  font-family: 'Antic Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.total {
  font-family: 'Righteous', cursive;
  font-size: 5rem;
  letter-spacing: 2px;
  text-decoration: none;
}

table {
  width: 100%;
}

td, th {
  font-size: 1.5rem;
  border: 1px dotted #734002;
  text-align: left;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.transactions {
  background-color: #f2f2f2;
  text-align: left;
  max-height: 30rem;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 5px #734002;
}

/* MEDIA QUERY -------------------------------- */
@media (max-width: 576px) {
  .nav-box{
    grid-template-columns: none;
    grid-template-rows: auto auto;
  } 
}

/* Color Theme Swatches in Hex */
hex { color: #858C74; }
hex { color: #D3D9BF; }
hex { color: #734002; }
hex { color: #BF7E45; }
hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
rgba { color: rgba(132, 140, 116, 1); }
rgba { color: rgba(211, 216, 190, 1); }
rgba { color: rgba(114, 64, 2, 1); }
rgba { color: rgba(191, 125, 68, 1); }
rgba { color: rgba(242, 242, 242, 1); }